[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lightfm = "*"
numpy = "*"
jupyterlab = "*"
pandas = "*"
dask = {extras = ["complete"], version = "*"}
tqdm = "*"
sklearn = "*"
scipy = "*"
dask-ml = "*"

[dev-packages]

[requires]
python_version = "3.8"
